---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Myths, Minyans and Midrashot with Rabbi Gene">
  <div class="min-h-[70vh] flex flex-col items-center justify-center text-center">
    <h1 class="text-9xl font-black text-base-content mb-4">Subscribe to our Youtube Channel</h1>
    <h2 class="text-4xl font-bold text-base-content mb-8">Myths, Minyans and Midrashot</h2>
      <p class="text-lg text-base-content/80 mb-8">
        Looks like this page went on a coffee break. ☕<br/>
        <div class="flex gap-4">
      <a
        href="https://www.youtube.com/@MythsMinyansMidrashot/"
        class="btn btn-primary text-primary-content"
      >
        Youtube Channel
      </a>
      </p>
    <div class="flex gap-4">
      <a
        href="/"
        class="btn btn-primary text-primary-content"
      >
        Go Home
      </a>
      <button
        class="btn btn-outline btn-accent"
        onclick="history.back()"
      >
        Go Back
      </button>
    </div>
  </div>
</Layout>
