---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import PublicationsList from '@/components/ui/PublicationsList.astro';

const ALL_PAPERS = publications; // This will be replaced with dynamic data on the 
---

<Layout title="Publications">
  <div class="max-w-none">
    <h1 class="text-3xl font-bold mb-8">Publications</h1>

    <div class="overflow-visible">
      <PublicationsList elements={ALL_PAPERS} />
    </div>
    
    <!--<div class="flex justify-center mt-8">
      <div class="join">
        <button class="join-item btn btn-sm">«</button>
        <button class="join-item btn btn-sm btn-active">1</button>
        <button class="join-item btn btn-sm">2</button>
        <button class="join-item btn btn-sm">3</button>
        <button class="join-item btn btn-sm">»</button>
      </div>
    </div>-->
    
  </div>
</Layout>
