---
import { profile } from '../../settings'

const { fullName, title } = profile
---

<footer class='footer footer-center bg-base-100 text-base-content px-4 py-8'>
	<aside>
		<p>
			<a href="/copyright" class="underline">Copyright</a> © {new Date().getFullYear()} - All right reserved by {title} {fullName}
		</p>
		<p>
			Built with <a
				href='https://github.com/maiobarbero/astro_academia'
				class='font-bold'
				target='_blank'>Astro Academia</a
			> 🎓 <a
				href='http://maiobarbero.dev'
        class="font-bold"
				target='_blank'></a>
		</p>
		<p>
			<a
				href=src/'
        		class="font-bold"
				target='_blank'></a>
		</p>
	</aside>
</footer>
